<p>
  <h2><%= @album.name %></h2>

</p>

<p>
  <strong>Artist:</strong>
  <%= @album.band.name %>
</p>
<table>
  <colgroup span "3"></colgroup>
    <% @album.tracks.each do |track| %>
    <tr>
      <td><%= link_to track.name, track_url(track), method: :get %></td>
      <td><%= link_to "Edit", edit_track_url(track), method: :get %></td>
      <td><%= link_to "Delete", track_url(track), method: :delete %></td>
    </tr>
    <% end %>
</table>

<br>


<%= link_to "Add Track", new_album_track_url(@album), method: :get %> | <%= link_to "Edit Album", edit_album_url(@album), method: :get %> | <%= link_to "Delete Album", album_url(@album), method: :delete %><br>
<%= link_to "Back to Band", band_url(@album.band_id), method: :get %>
<br>
