<h1>New Track</h1>

<form action="<%= tracks_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="form_authenticity_token">

  <label for="name">Track Name</label>
  <input id="name" type="text" name="track[name]">

  <br>

  <label for="album">Album</label>
  <select id="album" name="track[album_id]">
    <option value=""disabled '<%= "selected" if @track.album_id.nil? %>'>Select Album</option>
    <% Album.all.each do |album| %>
      <option value="<%= album.id %>" '<%= "selected" if @track.album_id == album.id %>'><%= album.name %></option>
    <% end %>
  </select>

  <br>

  <label for="regular">Regular</label>
  <input id="regular" type="radio" name="track[track_type]" value="regular">

  <label for="bonus">Bonus</label>
  <input id="bonus" type="radio" name="track[track_type]" value="bonus">

  <br>

  <label for="lyrics">Lyrics</label>
  <textarea id="lyrics" name="track[lyrics]" rows="8" cols="80"></textarea>
  <br>

  <input type="submit" value="Submit Track">

</form>
