<p id="notice"><%= notice %></p>

<p>
  <h2><%= @track.name %></h2>

  <h4>Lyrics</h4>
  <%= @track.lyrics %>

</p>

<%= link_to "Edit Track", edit_track_url(@track), method: :get %> |
<%= link_to "Delete Track", track_url(@track), method: :delete %><br>

<%= link_to "Back to Album", album_url(@track.album_id), method: :get %>
